/* 

stylesheet master

To be applied across all pages of the guidebook 
created: 6/8/24
creator: ava schmidt
email: avajian@umich.edu

*/

.hrs-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 25px;
}


.markdown-section header {
    color: #147ca4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a,
.markdown-section a {
  color: #0a708f;
}

a:hover,
a:focus,
.markdown-section a:hover,
.markdown-section a:focus {
  color: #0c97c1;
}

a:active,
.markdown-section a:active {
  color: #25bdeb;
}

.table-style tr th {
  background-color: #008aaeff;
  color: white;
  line-height: 2;
  border: 2px solid white;
  border-spacing:0 30px;
}

.table-style tr td {
  text-align: center;
  line-height: 1.5;
  border: 2px solid white;
}

.table-style tr:nth-child(even) {
  background-color: #cad9e3ff;
}

.table-style tr:nth-child(odd) {
  background-color: #e6edf2ff;
}
